.search-bar {
  margin: .975rem 1.825rem;
}
.cat-lab {
  font-size: 1.125rem;
  font-weight: bold;
  color: #425d21;
}
.filter-1,
.filter-2,
.filter-3,
.filter-4 {
  flex-direction: column;
  border: solid .0625rem #B6B5B6;
  margin: 0 .3125rem;
  padding: 0 1rem;
  border-radius: .3125rem;
  height: 4.5rem;
  justify-content: space-around !important;
}
.loupe {
  i {
    width: 3.125rem 3.125rem;
  }
}
.wrap-filters {
  display: flex;
}
#search-button {
  background-color: #B0C39B;
  color: #425d21;
  font-size: 1.125rem;
  font-weight: bold;
  height: 4.5rem;
  border: solid .1875rem #425d21;
  border-radius: .3125rem;
  padding: 0 1rem;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #425d21;
  }
}
.index-accomadtion {
  text-align: center;
  padding: 0 1.5rem;
}
#table-index-accomodation {
  width: 100%;
  margin: 1.25rem auto;
}
th,
td {
  font-size: .9325rem;
  padding: .625rem
}
.acc-category {
  width: 10%
}
.acc-rooms {
  width: 5%
}
.acc-price {
  width: 10%
}
.acc-address {
  width: 30%;
  text-align: left !important;
}
.acc-availability {
  width: 15%
}
.acc-title {
  width: 20%;
  text-align: left !important;
}
.acc-links {
  width: 10%;
}
thead, tr:nth-child(even) {
    background: #BFD4A8;
}
