.container {
  margin: 0 0;
  padding: 0 0;
  background-image: image-url("background.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {

}

.home h1 {
  font-family: "noteworthy";
  font-weight: bold;
  color: #273133;
}
