/* Main navbar */
.navbar-wagon {
  box-shadow: 0 .0625rem 0.3125rem 0 rgba(0,0,0,0.07),0 .0625rem 0 0 rgba(0,0,0,0.03);
  background: $main;
  transition: all 0.3s ease;
  height: 4.375rem;
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: white;
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 3.125rem;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 2.1875rem;
  width: 2.1875rem;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 1.25rem;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 1rem;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: .0625rem;
  box-shadow: .0625rem .0625rem 0.25rem #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: .9375rem !important;
  line-height: 1.3rem !important;
  padding: .625rem 1.25rem;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 1rem;
  top: -0.375rem;
  background-color: white;
  transform: rotate(45deg);
  border-left: 0.0625rem solid #E6E6E6;
  border-top: 0.0625rem solid #E6E6E6;
}
