.container-login {
  background-image: image-url("gva.jpeg");
  background-size: cover;
  height: 100vh;
}
.container-signup {
  background-image: image-url("gva.jpeg");
  background-size: cover;
  height: 100vh;
}
.sign-wrapper {
  margin-top: 40px;
  background-color: white;
  opacity: 0.8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 15px;
}
.form-inputs {
  padding: 0px 15px 0px 15px;
}
.form-actions {
    color: white;
    a {
      width: 100%;
      color: #757D87;
      font-size: 1.6rem;
    }
  }
.sign-button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: $main;
  border-radius: 0.5rem;
  font-weight: bold;
  border: 0.185rem solid $main;
  height: 5rem;
}

